<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Findit-Home</title>

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <!-- custom css  -->

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

      :root {
        --red: #ff5a3c;
        --light-red: #f9edeb;
      }

      * {
        font-family: "Nunito", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
      }

      html {
        font-size: 65.5%;
        overflow-x: hidden;
        scroll-behavior: smooth;
        scroll-padding-top: 7rem;
      }

      body {
        background: #f7f7f7;
      }

      section {
        padding: 2rem 9%;
      }

      .btn {
        margin-top: 1rem;
        display: inline-block;
        padding: 0.8rem 3.5rem;
        border: 1px solid black;
        border-radius: 0.5rem;
        font-size: 1.7rem;
        color: var(--red);
        background: #fff;
        cursor: pointer;
        text-align: center;
      }

      .btn:hover {
        background: var(--red);
        color: #fff;
      }

      .heading {
        text-align: center;
        color: #333;
        font-size: 4rem;
        padding-bottom: 3rem;
      }

      .heading span {
        color: var(--red);
        background: var(--light-red);
        border-radius: 0.5rem;
        padding: 0.2rem 1.5rem;
      }

      header {
        z-index: 1000;
        background: linear-gradient(120deg, #fdfcfb 0%, #e2d1c3 100%);
        padding: 3rem 4%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      header .logo {
        font-weight: bolder;
        font-size: 2.5rem;
        color: #333;
      }

      header .logo span {
        color: var(--red);
      }

      header .navbar a {
        color: #333;
        font-size: 2rem;
        padding: 0 1.5rem;
      }

      header .navbar a:hover {
        color: var(--red);
      }

      header .icons #menu-bars,
      header .icons a {
        height: 4.5rem;
        line-height: 4.5rem;
        width: 5rem;
        font-size: 2rem;
        margin-right: 0.5rem;
        border-radius: 0.5rem;
        color: var(--red);
        background: var(--light-red);
        text-align: center;
      }

      header .icons #menu-bars:hover,
      header .icons a:hover {
        background-color: var(--red);
        color: #fff;
      }

      header .icons #menu-bars {
        display: none;
      }

      .home {
        min-height: 100vh;
        background: url(../images/home-bg.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .home form {
        margin-top: 7rem;
        background: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        width: 70rem;
        padding: 2rem;
      }

      .home form h3 {
        text-align: center;
        color: #333;
        font-size: 3rem;
      }

      .navbar {
        width: 100%;
      }

      #logo {
        font-size: 2rem;
        font-weight: 800;
      }

      .filter-btn {
        margin-left: auto;
        font-size: 1.3rem;
        font-weight: 700;
        border: 3px solid black;
        padding: 15px;
        display: flex;
        justify-content: end;
      }

      .home form .buttons-container {
        display: flex;
        gap: 1.5rem;
      }

      .home form .buttons-container .btn {
        flex: 1;
      }

      .home form .inputBox {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-top: 2rem;
      }

      .home form .inputBox input,
      .home form .inputBox select {
        flex: 1 1 25rem;
        border: 0.1rem solid #333;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
        font-size: 1.5rem;
        padding: 1rem;
        text-transform: none;
      }

      .home form .btn {
        width: 100%;
        margin-top: 2rem;
      }

      .services .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
      }

      .services .box-container .box {
        flex: 1 1 30rem;
        border-radius: 0.5rem;
        background: #fff;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        text-align: center;
        padding: 2rem;
      }

      .services .box-container .box h3 {
        font-size: 2.5rem;
        color: #333;
      }

      .services .box-container .box p {
        font-size: 1.5rem;
        color: #666;
        padding: 0.5rem 0;
        line-height: 2;
      }

      .featured .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
      }

      .featured .box-container .box {
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        overflow: hidden;
        background: #fff;
        flex: 1 1 30rem;
      }

      .featured .box-container .box .image-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 25rem;
      }

      .featured .box-container .box .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.2s linear;
      }

      .featured .box-container .box:hover .image-container img {
        transform: scale(1.1);
      }

      .featured .box-container .box .image-container .info {
        position: absolute;
        top: 1rem;
        left: 0;
        display: flex;
      }

      .featured .box-container .box .image-container .info h3 {
        font-weight: 500;
        font-size: 1.4rem;
        color: #fff;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 0.5rem;
        padding: 0.5rem 1.5rem;
        margin-left: 1rem;
      }

      .featured .box-container .box .image-container .icons {
        position: absolute;
        bottom: 1rem;
        right: 0;
        display: flex;
      }

      .featured .box-container .box .image-container .icons a {
        font-size: 1.4rem;
        color: #fff;
        display: flex;
        border-radius: 0.5rem;
        background: rgba(0, 0, 0, 0.3);
        margin-right: 1rem;
        padding: 0.7rem;
      }

      .featured .box-container .box .image-container .icons a h3 {
        font-weight: 500;
        padding-left: 0.5rem;
      }

      .featured .box-container .box .image-container .icons a:hover {
        background: var(--red);
      }

      .featured .box-container .box .content {
        padding: 1.5rem;
      }

      .featured .box-container .box .content .price {
        display: flex;
        align-items: center;
      }

      .featured .box-container .box .content .price h3 {
        color: var(--red);
        font-size: 2rem;
        margin-right: auto;
      }

      .featured .box-container .box .content .price a {
        color: #666;
        font-size: 1.5rem;
        margin-right: 0.5rem;
        border-radius: 0.5rem;
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        text-align: center;
        background: #f7f7f7;
      }

      .featured .box-container .box .content .price a:hover {
        background: var(--red);
        color: #fff;
      }

      .featured .box-container .box .content .location {
        padding: 1rem 0;
      }

      .featured .box-container .box .content .location h3 {
        font-size: 2.5rem;
        color: #333;
      }

      .featured .box-container .box .content .location p {
        font-size: 1.5rem;
        color: #666;
        line-height: 1.5;
        padding-top: 0.5rem;
      }

      .featured .box-container .box .content .details {
        padding: 0.5rem 0;
        display: flex;
      }

      .featured .box-container .box .content .details h3 {
        flex: 1;
        padding: 1rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.1);
        color: #999;
        font-size: 1.3rem;
      }

      .featured .box-container .box .content .details h3 i {
        color: #333;
        padding-left: 0.5rem;
      }

      .featured .box-container .box .content .buttons {
        display: flex;
        gap: 1rem;
      }

      .featured .box-container .box .content .buttons .btn {
        flex: 1;
        font-size: 1.5rem;
      }

      .agents .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
      }

      .agents .box-container .box {
        background: #fff;
        text-align: center;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        padding: 2rem;
        position: relative;
        width: 26rem;
      }

      .agents .box-container .box .fa-envelope {
        position: absolute;
        top: 1.8rem;
        left: 2rem;
        color: #333;
        font-size: 2rem;
      }

      .agents .box-container .box .fa-envelope:hover {
        color: var(--red);
      }

      .agents .box-container .box .fa-phone {
        position: absolute;
        top: 1.8rem;
        right: 2rem;
        color: #333;
        font-size: 2rem;
      }

      .agents .box-container .box .fa-phone:hover {
        color: var(--red);
      }

      .agents .box-container .box img {
        border-radius: 50%;
        box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.1);
        object-fit: cover;
        height: 10rem;
        width: 10rem;
        margin: 1rem 0;
      }

      .agents .box-container .box h3 {
        font-size: 2rem;
        color: #333;
      }

      .agents .box-container .box span {
        font-size: 1.7rem;
        color: var(--red);
      }

      .agents .box-container .box .share {
        padding-top: 2rem;
      }

      .agents .box-container .box .share a {
        margin: 0 0.3rem;
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        background: #f7f7f7;
        color: #666;
        border-radius: 0.5rem;
        font-size: 2rem;
      }

      .agents .box-container .box .share a:hover {
        background: var(--red);
        color: #fff;
      }

      .agents .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
      }

      .agents .box-container .box {
        background: #fff;
        text-align: center;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        padding: 2rem;
        position: relative;
        width: 26rem;
      }

      .agents .box-container .box .fa-envelope {
        position: absolute;
        top: 1.8rem;
        left: 2rem;
        color: #333;
        font-size: 2rem;
      }

      .agents .box-container .box .fa-envelope:hover {
        color: var(--red);
      }

      .agents .box-container .box .fa-phone {
        position: absolute;
        top: 1.8rem;
        right: 2rem;
        color: #333;
        font-size: 2rem;
      }

      .agents .box-container .box .fa-phone:hover {
        color: var(--red);
      }

      .agents .box-container .box img {
        border-radius: 50%;
        box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.1);
        object-fit: cover;
        height: 10rem;
        width: 10rem;
        margin: 1rem 0;
      }

      .agents .box-container .box h3 {
        font-size: 2rem;
        color: #333;
      }

      .agents .box-container .box span {
        font-size: 1.7rem;
        color: var(--red);
      }

      .agents .box-container .box .share {
        padding-top: 2rem;
      }

      .agents .box-container .box .share a {
        margin: 0 0.3rem;
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        background: #f7f7f7;
        color: #666;
        border-radius: 0.5rem;
        font-size: 2rem;
      }

      .agents .box-container .box .share a:hover {
        background: var(--red);
        color: #fff;
      }

      .contact .icons-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding-bottom: 2rem;
      }

      .contact .icons-container .icons {
        flex: 1 1 25rem;
        background: #fff;
        padding: 2rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        text-align: center;
      }

      .contact .icons-container .icons img {
        height: 6rem;
      }

      .contact .icons-container .icons h3 {
        font-size: 2.5rem;
        color: #333;
        padding: 1rem 0;
      }

      .contact .icons-container .icons p {
        font-size: 1.5rem;
        color: #666;
        padding: 0.2rem 0;
      }

      .contact .row {
        background: #fff;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 1rem;
      }

      .contact .row form {
        flex: 1 1 50rem;
        padding: 0.5rem 1rem;
      }

      .contact .row .map {
        flex: 1 1 30rem;
        width: 100%;
        padding: 1rem;
      }

      .contact .row form .inputBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .contact .row form textarea,
      .contact .row form .inputBox input {
        margin-top: 1rem;
        padding: 1rem;
        font-size: 1.7rem;
        color: #333;
        background: #f7f7f7;
        border-radius: 0.5rem;
        text-transform: none;
        width: 49%;
      }

      .contact .row form textarea {
        width: 100%;
        height: 20rem;
        resize: none;
      }

      .contact .row form textarea:focus,
      .contact .row form .inputBox input:focus {
        background-color: var(--light-red);
      }

      #logo {
        font-size: 2rem !important;
      }

      .footer .footer-container {
        background: #fff;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        padding: 2rem;
      }

      .footer .footer-container .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
      }

      .footer .footer-container .box-container .box {
        flex: 1 1 25rem;
      }

      .footer .footer-container .box-container .box h3 {
        font-size: 2.5rem;
        color: #333;
        padding: 0.5rem 0;
      }

      .footer .footer-container .box-container .box a {
        display: block;
        font-size: 1.5rem;
        color: #666;
        padding: 0.5rem 0;
      }

      .footer .footer-container .box-container .box a:hover {
        color: var(--red);
        text-decoration: underline;
      }

      .footer .footer-container .credit {
        margin-top: 2rem;
        padding: 0.5rem;
        padding-top: 2.5rem;
        font-size: 2rem;
        text-align: center;
        color: #333;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
      }

      .footer .footer-container .credit span {
        color: var(--red);
      }

      .footer .footer-container {
        margin-bottom: 8rem;
      }

      .slogan {
        font-size: 7rem;
        color: var(--red);
        font-weight: 900 bolder;
      }

      .mid {
        background: linear-gradient(140deg, #fdfcfb 0%, #e2d1c3 100%);
        background-size: 100%;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 800;
      }

      .salebtn {
        margin-bottom: 17%;
      }

      .h2 {
        font-size: 6rem;
        font-family: "Nunito Sans", sans-serif;
      }

      .h4 {
        padding-top: 3%;
        font-size: 4rem;
        font-family: "Nunito Sans", sans-serif;
      }

      /* media queries  */
      @media (max-width: 991px) {
        section {
          padding: 1.5rem;
        }

        .slogan {
          font-size: 4rem;
          color: var(--red);
          font-weight: 900 bolder;
        }
      }

      .image {
        width: 100px;
        height: 100px;
        border-radius: 100%;
      }

      @media (max-width: 450px) {
        html {
          font-size: 50%;
        }

        .contact .row form .inputBox input {
          width: 100%;
        }
      }
    </style>
  </head>

  <body>
    <!-- header section starts  -->

    <header>
      <nav class="navbar" style="font-size: 1.4rem">
        <div class="container-fluid">
          <a href="/home" class="logo navbar-brand" id="logo"
            ><span>Find</span>It</a
          >
          <div class="tog">
            <button
              class="navbar-toggler filter-btn"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarText"
              aria-controls="navbarText"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul
                class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-text d-flex"
              >
                <li class="nav-item">
                  <a class="nav-link" href="#home">home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#services">services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#featured">featured</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#agents">agents</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" class="logout" href="/logout">
                    <button class="btn btn-sm">LOGOUT</button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section class="mid" id="home" style="font-size: 1rem">
      <p class="slogan">Home Sweet Home</p>
      <div class="salebtn buttons-container">
        <a href="/rent" class="btn">for rent</a>
        <a href="/sale/addhome" class="btn">Seller</a>
        <a href="/predict" class="btn">Predictions</a>
      </div>
    </section>

    <section class="services" id="services">
      <h1 class="heading">our <span>services</span></h1>

      <div class="box-container">
        <div class="box">
          <img src="images/s-2.png" alt="" />
          <h3>Renting home</h3>
          <p>
            You can view homes available for rent choose the one you like and
            get contact information of the seller
          </p>
          <a href="#" class="btn">learn more</a>
        </div>

        <div class="box">
          <img src="images/s-3.png" alt="" />
          <h3>Selling home</h3>
          <p>
            Seller can add their homes to the website and get people across the
            country know your offers
          </p>
          <a href="#" class="btn">learn more</a>
        </div>
      </div>
    </section>

    <!-- services section ends -->

    <!-- featured section starts  -->

    <section class="featured" id="featured">
      <h1 class="heading"><span>featured</span> properties</h1>
      <div class="box-container">
        <% home.forEach(function(mat1){ %>

        <div class="box">
          <div class="image-container">
            <div>
              <img
                class="img"
                src="/uploads/<%= mat1.telekomTvOffer %>.jpg"
                alt="home"
              />
            </div>
          </div>
          <div class="content">
            <div class="price">
              <h3><span> $ </span> <%= mat1.totalRent %>/Month</h3>
            </div>
            <div class="location">
              <h3><%= mat1.typeOfFlat %></h3>
              <p><%= mat1.regio1 %></p>
            </div>
            <div class="details">
              <h3><i class="fas fa-expand"></i> <%= mat1.noRooms %></h3>
            </div>
            <div class="buttons">
              <a href="/homedetails/:<%= mat1._id %>" class="btn"
                >view details</a
              >
            </div>
          </div>
        </div>

        <% }) %>
      </div>
      <div style="text-align: center; margin: 2% auto" class="buttons">
        <a href="/rent" class="btn btn-lg">Browse all products</a>
      </div>
    </section>

    <!-- featured section ends -->

    <section class="agents" id="agents">
      <h1 class="heading">professional <span>agents</span></h1>

      <div class="box-container row">
        <% home.forEach(function(ag){ %>
        <div class="box col-lg-3">
          <img
            class="img"
            src="/uploads/<%= ag.telekomTvOffer %>.jpg"
            alt="home"
          />
          <h3><%= ag.regio1 %></h3>
          <span> <%= ag.serviceCharge %> </span> <br />
          <span><%= ag.totalrent %> </span>
          <div class="share">
            <a href="mailto:" <%="ag.email" %> class="fas fa-envelope"></a>
            <a href="https://<%=  ag.facebook %>" class="fab fa-facebook-f"></a>
            <a href="https://<%=  ag.twitter  %>" class="fab fa-twitter"></a>
            <a
              href="https://<%=  ag.instagram  %>"
              class="fab fa-instagram"
            ></a>
          </div>
        </div>
        <% }) %>
        <div class="buttons">
          <a href="/agentregister" class="btn btn-lg">Register new agent</a>
          <a href="/agents" class="btn btn-lg">View all agents</a>
        </div>
      </div>
    </section>

    <!-- agents section ends -->
    <!-- contact section starts  -->

    <section class="contact" id="contact">
      <h1 class="heading"><span>contact</span> us</h1>

      <div class="icons-container">
        <div class="icons">
          <img src="images/icon-2.png" alt="" />
          <h3>email address</h3>
          <p>vandumurugan@gmail.com</p>
          <p>findit@gmail.com</p>
        </div>

        <div class="icons">
          <img src="images/icon-3.png" alt="" />
          <h3>Instagram</h3>
          <p>FindIt_Official</p>
          <p>FindIt_Official2</p>
        </div>
      </div>
    </section>

    <!-- contact section ends -->

    <!-- footer section starts  -->

    <section class="footer">
      <div class="footer-container">
        <div class="box-container">
          <div class="box">
            <h3>branch location</h3>
            <a href="#">india</a>
            <a href="#">USA</a>
            <a href="#">france</a>
            <a href="#">russia</a>
            <a href="#">japan</a>
          </div>

          <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">services</a>
            <a href="#">featured</a>
            <a href="#">agents</a>
            <a href="#">contact</a>
          </div>

          <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">my favorite</a>
            <a href="#">my list</a>
          </div>

          <div class="box">
            <h3>follow us</h3>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">linkedin</a>
          </div>
        </div>

        <div class="credit">
          created by <span> Vakkil Vandumurugan </span> | all rights reserved!
        </div>
      </div>
    </section>

    <!-- footer section ends -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <!-- javascript part  -->
    <script>
      console.log(performance.getEntriesByType("navigation").entry.name);

      let menu = document.querySelector("#menu-bars");
      let navbar = document.querySelector(".navbar");

      menu.onclick = () => {
        navbar.classList.toggle("active");
        menu.classList.toggle("fa-times");
      };

      window.onscroll = () => {
        navbar.classList.remove("active");
        menu.classList.remove("fa-times");
      };
    </script>
  </body>
</html>
